<!DOCTYPE html>
<html>
    <head>
        <title>jQuery+RequireJS Sample Page</title>
        <script data-main="js/app" src="js/lib/require.js"></script>
    </head>
    <body>
        <h1>jQuery+RequireJS Sample Page</h1>
        <p>Look at source or inspect the DOM to see how it works.</p>
        <h2>See All Posts</h2>
        <div id="posts_container"></div>

        <script type="text/template" id="single_post_template">
        	<ul>
        		<% _.each(posts, function(post) { %>
					<h1><%= post.title %></h1>
					<p><a href='<%= post.url %>'>Go to Page</a></p>
					<p><%= post.content %></p>
				<%});%>
			</ul>
		</script>

    </body>
</html>
